$red: #ff0000;
$black: #000000;
$white: #ffffff;
$light-gray: #f8f8f8;

// Colores de texto y fondo para el tema claro
$light-theme-background: $white;
$light-theme-text: $black;

// Colores de texto y fondo para el tema oscuro
$dark-theme-primary-background: #181818;
$dark-theme-secondary-background: #232323;
$dark-theme-primary-text: #eaeaea;
$dark-theme-secondary-text: #B2B2B2;
$dark-theme-border: #333333;

// Color de texto principal
$primary-text-color: $black;

// Color de texto ligero
$light-text-color: $white;

$font-family: "Raleway", sans-serif;

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

$medium-screen: 1024px;
$small-screen: 600px;

$transition: all 0.4s ease;
